* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

nav {
    background-color: green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
}

.logo {
    color: white;
    text-decoration: none;
}