* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.TabBar {
    background-color: green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    min-height: 8vh;
}